#podcasts{
	padding-bottom: 3rem;
}

#podcasts ul {
	list-style: none;
	padding-left: 0;
	margin: 0
}

#podcasts ul li {
	width: 23%;
	float: left;
	margin: 0 1% 2rem 1%;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
}

#podcasts ul li img {
	width: 100%;
	max-width: 100%;
	border-radius: .35rem .35rem 0 0;
}

#podcasts ul li img:hover {
	opacity: .8;
}

.podcast_overview {
	padding: 1rem 7.5%;
}

.podcast_overview h2 {
	margin: 0;
	font-size: 1rem;
	font-weight: 700;
	color: black
}
.podcast_overview h2:hover {
	color: gray;
}

.episode_count {
	color: gray;
	font-size: .9rem;
	margin: .5rem 0 .25 0;
}

#podcast-show #show_banner {
  background: black;
  text-align: center;
  padding: 5rem 0;
}
#podcast-show #show_banner h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: white;
  margin: 0 0 .5rem 0;
}
#podcast-show #show_banner .description {
  width: 85%;
  margin: 0 auto 2rem auto;
  color: gray;
}

#podcast-show #show_banner .subscribe_link {
	font-size: .6rem;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	color: black;
	display: inline;
	background: white;
	border-radius: 2rem;
	padding: .5rem 1rem;
	margin: 0 .5rem;
	text-decoration: none;
}

#podcast-show #show_banner .subscribe_link:hover {
	background: gray;
	color: white;
}

#breadcrumb {
	padding: 1rem 0;
	text-align: center;
	border-bottom: 1px solid gray;
	font-weight: 700;
	font-size: .7rem;


}

#breadcrumb a {
	color: gray;
	text-decoration: none;
}

 #episodes {
	padding: 3rem 0;
}

#episodes ul {
	list-style: none;
	padding-left: 0;
}

#episodes ul li {
	padding-bottom: 2rem;
	border-bottom: 1px solid gray;
	margin-bottom: 2rem;
}

#episodes ul li:last-of-type {
	border-bottom: none;
}

#episodes ul li .episode_thumbnail {
	width: 22%;
	float: left;

}

#episodes ul li .episode_thumbnail img {
	width: 10rem;
	max-width: 100%;
	border-radius: .35rem
}

#episodes ul li .episode_overview {
	width: 76.5%;
	float: left;
	margin-left: 1.5%;
}

#episodes ul li .episode_overview h2 a {
	color: gray;
	text-decoration: none;
}

#episodes ul li .episode_overview .description {
	color: gray;
	text-decoration: none;
}

#episodes ul li .episode_overview a {
	color: gray;
	text-decoration: none;
}

 #episode_content {
	padding: 4rem 0;
	margin-bottom: 4rem;
	border-bottom: 1px solid gray;
}

#episode_content .current_episode_thumbnail {
	display: block;
	margin: 0 auto 2rem auto;
	width: 10rem;
	max-width: 100%;
	border-radius: .35rem;
}

#episode_content h2 {
	font-size: 1.5rem;
	text-align: center;
}

#episode_content .description {
	text-align: center;
	font-size: .9rem;
	line-height: 1.7rem;
	color: gray;
}

.jp-jplayer,.jp-audio {
    width: 90%;
    margin: 3rem auto .5rem auto;
		}
		.jp-title {
	    font-size: 12px;
	    text-align: center;
	    color: #999;
		}
		.jp-title ul {
	    padding: 0;
	    margin: 0;
	    list-style: none;
		}
		.jp-gui {
	    position: relative;
	    background: black;
	    transition: background .4s ease-in-out;
	    border-radius: 3px;
	    overflow: hidden;
	    margin-top: 10px;
		}
		.jp-controls {
	    padding: 0;
	    margin: 0;
	    list-style: none;
	    font-family: "Sans Serif";
		}

		.jp-controls li {
	    display: inline;
		}

		.jp-controls a {
	    color: #fff;
		}
		.jp-play,.jp-pause {
	    width: 60px;
	    height: 40px;
	    display: inline-block;
	    text-align: center;
	    line-height: 43px;
	    border-right: 1px solid white;
		}

		.jp-controls .jp-play:hover,.jp-controls .jp-pause:hover {
	    background-color: gray;
		}

		.jp-mute,.jp-unmute {
	    position: absolute;
	    right: 59px;
	    top: -3px;
	    width: 20px;
	    height: 40px;
	    display: inline-block;
	    line-height: 46px;
		}

		.jp-mute {
	    text-align: left;
		}
		.jp-time-holder {
	    color: #FFF;
	    font-size: 12px;
	    line-height: 14px;
	    position: absolute;
	    right: 90px;
	    top: 14px;
		}
		.jp-progress {
	    background-color: gray;
	    border-radius: 20px 20px 20px 20px;
	    overflow: hidden;
	    position: absolute;
	    right: 22%;
	    top: 15px;
	    width: 65%;
		}

		.jp-play-bar {
	    height: 12px;
	    background-color: #fff;
	    border-radius: 20px 20px 20px 20px;
		}

		.jp-volume-bar {
	    position: absolute;
	    right: 10px;
	    top: 17px;
	    width: 45px;
	    height: 8px;
	    border-radius: 20px 20px 20px 20px;
	    background-color: gray;
	    overflow: hidden;
		}

		.jp-volume-bar-value {
	    background-color: #fff;
	    height: 8px;
	    border-radius: 20px 20px 20px 20px;
		}

#links {
	padding: 2rem 0;
}

#links ul {
	list-style: none;	
	padding-left: 0;
	padding: 1rem 0;
	margin-bottom: 1rem;

}

#links ul li {
	display: inline;
	margin-right: 1rem;

	font-weight: 700;

}

#links ul li a {
	color: gray;
	text-decoration: none;
}

#links ul li a:hover {
	color: black;
}

#links ul li .current_link {
	color: black
}


.authorized_links {
	font-weight: 700;
	font-size: .8rem;
	}

.authorized_links a {
	color: black;
	margin-right: 1rem;
}